
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- Google Map CSS -->
    <link href="css/map.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
              	<table idclass="table table-striped">
	            	<tbody id = "Landmarks">
	                </tbody>
        		</table>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="map"></div>
    <!-- /#map -->

    <script id="LandmarkTemplate" type="text/template">
	    <td><button><%= gsx$nom %></button></td>
	    <td class = "long" hidden><%= gsx$long %></td>
	    <td class = "lat" hidden><%= gsx$lat %></td>
    </script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    

    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/home-scripts.js"></script>
    
    <!-- Google Map Script -->
   	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKoDW_LemteTW0xYl6Da9DjvNIDparQLQ&callback=initMap" async defer></script>

</body>

</html>
